{% extends 'base1.html' %}
{% load static %}
{% block title %}
About Us
{% endblock %}
{% block content %}


{% include 'web_navbar.html' %}


<div class="page-title-area">
    <div class="container">
        <div class="page-title-content">
            <h2>About</h2>
            <p>The KnowBase Story</p>
        </div>
    </div>
</div>


<section class="about-area ptb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="about-content">
                    <span class="sub-title">How we are Founded</span>
                    <h2>Take your business to the next level</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                        of type and scrambled it to make a type specimen book.</p>
                    <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining
                        essentially unchanged.</p>
                    <p>Every month they moved their money the old way – which wasted their time and money. So they
                        invented a beautifully simple workaround that became a billion-dollar business.</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="about-image">
                    <img src="{% static 'assets/img/about-img.jpg' %}" alt="image">
                </div>
            </div>
        </div>
    </div>
</section>




 <section class="video-presentation-area ptb-100">
        <div class="container">
            <div class="section-title">
                <h2>Why choose us to watch this video know more</h2>
            </div>
            <div class="video-box">
                <img src="{% static 'assets/img/video-bg.jpg' %}" class="main-image" alt="image">
                <a href="https://www.youtube.com/watch?v=0gv7OC9L2s8" class="video-btn popup-youtube">
                    <i class="bx bx-play"></i>
                </a>
                <div class="shape1"><img src="{% static 'assets/img/shape/1.png' %}" alt="image"></div>
                <div class="shape2"><img src="{% static 'assets/img/shape/2.png' %}" alt="image"></div>
                <div class="shape3"><img src="{% static 'assets/img/shape/3.png' %}" alt="image"></div>
                <div class="shape4"><img src="{% static 'assets/img/shape/4.png' %}" alt="image"></div>
                <div class="shape5"><img src="{% static 'assets/img/shape/5.png' %}" alt="image"></div>
                <div class="shape6"><img src="{% static 'assets/img/shape/6.png' %}" alt="image"></div>
            </div>
            <div class="funfacts-inner">
                <div class="row">
                    <div class="col-lg-3 col-6 col-sm-6">
                        <div class="single-funfacts funfact-style-two wow fadeInLeft" data-wow-delay=".2s">
                            <i class='bx bx-list-check'></i>
                            <h3>
                                <span class="odometer" data-count="850">00</span>
                                <span class="sign-icon">+</span>
                            </h3>
                            <p>Completed Projects</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-6 col-sm-6">
                        <div class="single-funfacts funfact-style-two wow fadeInLeft" data-wow-delay=".3s">
                            <i class='bx bx-smile'></i>
                            <h3>
                                <span class="odometer" data-count="850">00</span>
                                <span class="sign-icon">+</span>
                            </h3>
                            <p>Happy Clients</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-6 col-sm-6">
                        <div class="single-funfacts funfact-style-two wow fadeInLeft" data-wow-delay=".4s">
                            <i class='bx bx-grid-small'></i>
                            <h3>
                                <span class="odometer" data-count="120">00</span>
                                <span class="sign-icon">+</span>
                            </h3>
                            <p>Ongoing Projects</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-6 col-sm-6 wow fadeInLeft" data-wow-delay=".5s">
                        <div class="single-funfacts funfact-style-two">
                            <i class='bx bxs-award'></i>
                            <h3>
                                <span class="odometer" data-count="50">00</span>
                                <span class="sign-icon">+</span>
                            </h3>
                            <p>Winning Awards</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="contact-cta-box mwidth-1000 wow fadeInUp" data-wow-delay=".8s">
                <h3>Have any question about us?</h3>
                <p>Don't hesitate to contact us.</p>
                <a href="contact.html" class="default-btn">
                    <i class="bx bxs-edit-alt"></i>
                    Contact Us
                    <span></span>
                </a>
            </div>
        </div>
        <div class="shape-map1"><img src="{% static 'assets/img/map1.png' %}" alt="image"></div>
        <div class="shape7"><img src="{% static 'assets/img/shape/7.png' %}" alt="image"></div>
        <div class="shape8"><img src="{% static 'assets/img/shape/8.png' %}" alt="image"></div>
        <div class="shape9"><img src="{% static 'assets/img/shape/9.png' %}" alt="image"></div>
    </section>


{% endblock %}