{% load static %}
<!doctype html>
<html lang="ar" >
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="{% static 'css/ionicons.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/classic.min.css' %}"/>
    <script src="{% static 'js/clipboard.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/notiflix-1.9.1.css' %}"/>
    <script src="{% static 'js/notiflix-1.9.1.js' %}"></script>


    <link rel="stylesheet" media="all" href="{% static 'css/application-d8fa5ad3edcf1abf593a1b568a1988cb7041be0975122112fbca88b295516260.css' %}"/>

    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.rtl.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/boxicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/odometer.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/meanmenu.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/magnific-popup.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/custom.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/rtl.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css.map' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css.map' %}">
    <title>{% block title %} KnowBase - Best Knowledge Base in the market{% endblock %}</title>
    <link rel="icon" type="image/png" href="{% static 'assets/img/favicon.png' %}">

    
<script data-cfasync="false" src="{% static 'assets/js/email-decode.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.min.js' %}"></script>

{#<script src="{% static '' %}/js/popper.min.js"></script>#}
{##}
{#<script src="{% static '' %}/js/bootstrap.min.js"></script>#}
{##}
{#<script src="{% static '' %}/js/jquery.magnific-popup.min.js"></script>#}
{##}
{#<script src="{% static '' %}/js/jquery.appear.min.js"></script>#}
{##}
{#<script src="{% static '' %}/js/odometer.min.js"></script>#}
{##}
{#<script src="{% static '' %}/js/owl.carousel.min.js"></script>#}
{##}
{#<script src="{% static '' %}/js/jquery.meanmenu.js"></script>#}
{##}
{#<script src="{% static '' %}/js/wow.min.js"></script>#}
{##}
{#<script src="{% static '' %}/js/conversation.js"></script>#}
{##}
{#<script src="{% static '' %}/js/jquery.ajaxchimp.min.js"></script>#}
{##}
{#<script src="{% static '' %}/js/form-validator.min.js"></script>#}
{##}
{#<script src="{% static '' %}/js/contact-form-script.js"></script>#}
{##}
{#<script src="{% static '' %}/js/particles.min.js"></script>#}
{#<script src="{% static '' %}/js/coustom-particles.js"></script>#}
{##}
{#<script src="{% static '' %}/js/main.js"></script>#}

<script src="{% static 'js/application-c02f93572ed3a04db16b.js' %}"></script>
<script src="{% static 'js/e386e9e568.js' %}" crossorigin="anonymous"></script>
<script src="{% static 'assets/js/popper.min.js' %}"></script>
<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.appear.min.js' %}"></script>
<script src="{% static 'assets/js/odometer.min.js' %}"></script>
<script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.meanmenu.js' %}"></script>
<script src="{% static 'assets/js/wow.min.js' %}"></script>
<script src="{% static 'assets/js/conversation.js' %}"></script>
<script src="{% static 'assets/js/jquery.ajaxchimp.min.js' %}"></script>
<script src="{% static 'assets/js/form-validator.min.js' %}"></script>
<script src="{% static 'assets/js/contact-form-script.js' %}"></script>
<script src="{% static 'assets/js/particles.min.js' %}"></script>
<script src="{% static 'assets/js/coustom-particles.js' %}"></script>
<script src="{% static 'assets/js/main.js' %}"></script>
</head>
<body>

<div class="preloader-area">
    <div class="spinner">
        <div class="inner">
            <div class="disc"></div>
            <div class="disc"></div>
            <div class="disc"></div>
        </div>
    </div>
</div>

{% block content %}

{% endblock %}

<footer class="footer-area">
    <div class="divider"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <div class="logo">
                        <a href="index.html"><img src="{% static 'assets/img/white-logo.png' %}" alt="image"></a>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h3>Company</h3>
                    <ul class="services-list">
                        <li><a href="about.html">About Us</a></li>
                        <li><a href="services-1.html">Services</a></li>
                        <li><a href="features-1.html">Features</a></li>
                        <li><a href="pricing.html">Our Pricing</a></li>
                        <li><a href="blog-1.html">Latest News</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h3>Support</h3>
                    <ul class="support-list">
                        <li><a href="faq.html">FAQ's</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Terms & Conditions</a></li>
                        <li><a href="about.html">Community</a></li>
                        <li><a href="contact.html">Contact Us</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h3>Contact Info</h3>
                    <ul class="footer-contact-info">
                        <li>Location: <a href="https://goo.gl/maps/MQ78iGP5g9VgZcJ38" target="_blank">6th Floor, Elegant
                            Tower, York, USA</a></li>
                        <li>Email: <a href="mailto:brianjoroge@yahoo.com"><span class="__cf_email__"
                                                                                data-cfemail="4129242d2d2e0132353320396f222e2c">[email&#160;protected]</span></a>
                        </li>
                        <li>Phone: <a href="tel:+2547156269954">2547156269954</a></li>
                    </ul>
                    <ul class="social">
                        <li><a href="#" target="_blank"><i class="bx bxl-facebook"></i></a></li>
                        <li><a href="#" target="_blank"><i class="bx bxl-twitter"></i></a></li>
                        <li><a href="#" target="_blank"><i class="bx bxl-linkedin"></i></a></li>
                        <li><a href="#" target="_blank"><i class="bx bxl-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="copyright-area">
            <p>Copyright @ 2021 Knowbase.<a href="https://dlmade.ml/" target="_blank">Designed by DLMade</a></p>
        </div>
    </div>
</footer>

<div class="go-top"><i class='bx bx-chevron-up'></i></div>

</body>
</html>